$section-width: 70vw;
$section-margin-top: 10px;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 10vh;
}

.navbar {
  position: fixed;
  width: 100%;
  border: 5px solid purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  margin: 0 auto;
  &__menu {
    display: flex;
    margin: 0 auto; // overrides the center positioning for toggle
    justify-content: space-between;
    list-style: none;
    width: 70vw;
    max-width: 450px;
    height: 20px;
  }

  &__item {
    font-size: 16px;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  &__link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: black;
    position: absolute;
  }

  &__link:hover::after {
    width: 100%;
    transition: all ease-in-out 400ms;
  }
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // border: 5px solid orange;
  width: $section-width;
  margin: 0 auto;
  &__details {
    position: relative;
    border: 1px solid;
  }

  &__name {
    border: 1px solid;
  }
  &__job {
    border: 1px solid;
  }

  &__hr {
    left: 5%;
    background-color: #ff470f;
    border: none;
    height: 2px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 0px;
    width: 4rem;
  }

  &__portrait-image {
    border-radius: 50%;
  }

  &__contact-info {
    border: 1px solid green;
  }

  &__contact-bullet {
    margin-bottom: 0.8rem;
  }

  &__social {
    border: 1px solid red;
    justify-content: flex-start;
    display: flex;
    margin-top: 1.5rem;
    list-style: none;

    li {
      border: 1px solid;
      height: 2rem;
      width: 2rem;
      margin-right: 0.5rem;
      text-align: center;
    }

    a {
      border: 1px solid blue;
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      height: 2rem;
      justify-content: center;
      opacity: 0.5;
      width: 2rem;

      transition-property: opacity, transform;
      will-change: opacity, transform;

      &:hover {
        opacity: 1;
        transform: scale(1.25);
        cursor: pointer;
      }
    }
  }
}

.about {
  // border: 5px solid black;
  width: $section-width;
  margin: 0 auto;

  %browser-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 5px;
  }

  &__info {
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
  }

  &__panel {
    height: 20px;
    background-color: black;
    border-radius: 5px 5px 0 0;
  }

  &__dots {
    display: flex;
    background-color: pink;
    height: 20px;
    width: 200px;
    background-color: black;
    align-items: center;
    border-radius: 5px 0 0 0;

    &--dot-1 {
      @extend %browser-dot;
      background-color: #fc6058;
    }

    &--dot-2 {
      @extend %browser-dot;
      background-color: #fec02f;
    }

    &--dot-3 {
      @extend %browser-dot;
      background-color: #2aca3e;
    }
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    position: relative;
    &__menu {
      background-color: red;
      padding: 0;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      opacity: 0;
      z-index: -1;
      top: 20vh;
      max-width: 100vw;
      width: 60vw;
      height: 60vh;
    }

    &__menu.active {
      transition: all 0.5s ease-in-out;
      z-index: 1;
      opacity: 1;
    }

    &__menu a {
      font-size: 2rem;
      text-align: center;
    }

    &__toggle {
      position: fixed;
      right: 5%;

      &:hover {
        cursor: pointer;
      }
    }

    &__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background: black;
      display: block;
      transition: all 0.3s ease-in-out;
    }

    &__toggle--is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__toggle--is-active .bar:nth-child(2) {
      opacity: 0;
    }

    &__toggle--is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

  .home {
    display: flex;
    flex-direction: column;
    border: 5px solid green;

    &__portrait {
      order: -1;
    }
  }
}
