body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 10vh;
  border: 1px solid black;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  &__menu {
    display: flex;
    margin: 0 auto; // overrides the center positioning for toggle
    justify-content: space-between;
    list-style: none;
    width: 70vw;
    max-width: 450px;
    height: 20px;
  }

  &__item {
    font-size: 16px;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }

  &__link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: black;
    position: absolute;
  }

  &__link:hover::after {
    width: 100%;
    transition: all ease-in-out 400ms;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    &__menu {
      padding: 0;
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 25%;
      justify-content: space-evenly;
      align-items: center;
      height: 50%;
      width: 80vw;
      max-width: 100vw;
      opacity: 0;
    }

    &__menu.active {
      border: 1px solid black;
      transition: all 1.5s ease;
      border-radius: 10px;
      opacity: 1;
    }

    &__menu a {
      font-size: 2rem;
      text-align: center;
    }

    &__toggle {
      position: absolute;
      right: 5%;
    }

    &__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background: black;
      display: block;
      transition: all 0.3s ease-in-out;
    }

    &__toggle--is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__toggle--is-active .bar:nth-child(2) {
      opacity: 0;
    }

    &__toggle--is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
