body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: pink;
  height: 100px;
}

.navbar {
  background: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;

  &__menu {
    display: flex;
    margin: 0 auto; // overrides the center positioning for toggle
    justify-content: space-between;
    list-style: none;
    width: 70vw;
    max-width: 450px;
    border: 1px solid red;
    height: 20px;
  }

  &__item {
    font-size: 16px;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }

  &__link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
  }

  &__link:hover::after {
    width: 100%;
    transition: all ease-in-out 400ms;
  }
}

@media screen and (max-width: 960px) {
  .navbar {
    &__menu {
      z-index: -1;
    }

    &__toggle {
      position: absolute;
      right: 5%;
    }

    &__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background: #fff;
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }
}
