body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: pink;
  height: 10vh;
  width: 100vw;
}

.navbar {
  background: purple;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  width: 70vw;
  max-width: 450px;
  border: 1px solid yellow;
  height: 20px;
}

.navbar__item {
  font-size: 16px;
  position: relative;
}

.navbar__link {
  text-decoration: none;
  color: #b44759;
  text-transform: uppercase;
}

.navbar__link::after {
  content: '';
  display: block;
  height: 2px;
  width: 0%;
  background-color: white;
  position: absolute;
}

.navbar__link:hover::after {
  width: 100%;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
}

@media screen and (max-width: 960px) {
  .sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    background-color: blue;
    margin: 0;
    height: 90vh;
    width: 100vw;
    margin-left: 100vw;
  }
  .sidebar.active {
    opacity: 1;
    margin-left: 0;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }
  .navbar__menu {
    opacity: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 50vh;
    width: 250px;
  }
  .navbar__menu.active {
    opacity: 1;
  }
  .navbar__menu a {
    border: 1px solid white;
    font-size: 2rem;
  }
  .navbar__toggle {
    position: absolute;
    right: 5%;
  }
  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar__toggle--is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .navbar__toggle--is-active .bar:nth-child(2) {
    opacity: 0;
  }
  .navbar__toggle--is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}
/*# sourceMappingURL=style.css.map */