$section-width: 70vw;
$section-margin-vertical: 75px;

$theme-shadow: #e8ffff;
$theme-light: #a6f6f1;
$theme-medium: #41aea9;
$theme-dark: #213e3b;

$navbar-bg-scroll: black;
$navbar-text-scrolled: white;

%section-area {
  width: $section-width;
  margin: $section-margin-vertical auto;
}

* {
  font-family: "Saira", sans-serif;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  height: 11vh;
  position: relative;
  margin: 0 auto;
}

.navbar {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 9vh;
  margin: 0 auto;

  &__menu {
    display: flex;
    margin: 0 auto; // overrides the center positioning for toggle
    justify-content: space-between;
    list-style: none;
    width: 70vw;
    max-width: 450px;
    height: 20px;
  }

  &--scrolled {
    background-color: $navbar-bg-scroll;
    transition: all ease-in-out 250ms;
  }

  &__item {
    font-size: 16px;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-transform: uppercase;

    &--scrolled-text {
      color: $navbar-text-scrolled !important;
    }
  }

  &__link::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: $theme-medium;
    position: absolute;
  }

  &__link:hover::after {
    width: 100%;
    transition: all ease-in-out 250ms;
  }

  &__scrolled {
    box-shadow: 0 3px 20px rgba(black, 0.2);
  }
}

.home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 70px;
  @extend %section-area;

  &__details {
    position: relative;
  }

  &__name {
    font-size: 30px;
    font-weight: 600;
  }

  &__job {
    margin-top: -25px;
    font-weight: 500;
  }

  &__hr {
    left: 5%;
    background-color: $theme-medium;
    border: none;
    height: 2px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 0px;
    width: 4rem;
  }

  &__portrait {
    background: 1px solid black;
    margin-right: -10px;

    &-image {
      border: 3px solid $theme-medium;
    }
  }

  &__portrait-shadow {
    &--outer {
      height: 300px;
      width: 300px;
      background-color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--inner {
      height: 245px;
      width: 245px;
      position: relative;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
        15px 15px 0px 0px #a1d8ff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
        15px 15px 0px 0px #a1d8ff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
  }

  &__portrait-image {
    border-radius: 50%;
  }

  &__contact-bullet {
    margin-bottom: 0.8rem;
  }

  &__link {
    text-decoration: none;
    color: $theme-medium;

    &:hover {
      color: $theme-medium;
    }
  }

  &__social {
    justify-content: flex-start;
    display: flex;
    margin-top: 1.5rem;
    list-style: none;

    li {
      height: 2rem;
      width: 2rem;
      margin-top: -0.5rem;
      margin-right: 0.5rem;
      text-align: center;
    }

    a {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      height: 2rem;
      justify-content: center;
      opacity: 0.5;
      width: 2rem;
      transition-property: opacity, transform;
      will-change: opacity, transform;

      &:hover {
        opacity: 1;
        transform: scale(1.25);
        cursor: pointer;
      }
    }
  }
}

.about {
  @extend %section-area;

  %browser-dot {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 5px;
  }

  &__info {
    border: 1px solid black;
    border-radius: 0 0 5px 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__link {
    text-decoration: none;
    color: $theme-medium;
  }

  &__panel {
    height: 20px;
    background-color: black;
    border-radius: 5px 5px 0 0;
  }

  &__resume {
    margin: 0px auto;
    &-button {
      margin-top: 10px;
      cursor: pointer;
    }
  }

  &__dots {
    display: flex;
    background-color: pink;
    margin-left: 5px;
    height: 20px;
    width: 200px;
    background-color: black;
    align-items: center;
    border-radius: 5px 0 0 0;

    &--dot-1 {
      @extend %browser-dot;
      background-color: $theme-shadow;
    }

    &--dot-2 {
      @extend %browser-dot;
      background-color: $theme-light;
    }

    &--dot-3 {
      @extend %browser-dot;
      background-color: $theme-medium;
    }
  }
}

.skills {
  @extend %section-area;

  %hex-corner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__front-end {
    @extend %hex-corner;
  }

  &__back-end {
    @extend %hex-corner;
  }

  &__tools {
    @extend %hex-corner;
  }

  &__hex {
    $hex-vertical: 30px;
    $hex-horizontal: 52px;
    $hex-color: white;
    $hex-shadow-color: white;

    &--top {
      width: 0;
      border-bottom: $hex-vertical solid $hex-color;
      border-left: $hex-horizontal solid $theme-light; // 1.733
      border-right: $hex-horizontal solid $theme-light;
    }

    &--mid {
      width: $hex-horizontal * 2; // left * 2
      height: $hex-vertical * 2; // bottom * 2
      background-color: $hex-color;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--bot {
      width: 0;
      border-top: $hex-vertical solid $hex-color;
      border-left: $hex-horizontal solid $theme-light;
      border-right: $hex-horizontal solid $theme-light;
    }

    &--shadow-top {
      display: block;
      width: 0;
      border-bottom: 45px solid $hex-color;
      border-left: 78px solid $theme-medium;
      border-right: 78px solid $theme-medium;
    }

    &--shadow-mid {
      width: 156px;
      height: 107px;
      background-color: $hex-color;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    &--shadow-bot {
      display: block;
      width: 0;
      border-top: 45px solid $hex-color;
      border-left: 78px solid $theme-medium;
      border-right: 78px solid $theme-medium;
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 5px;
  }

  &__hr {
    left: 5%;
    background-color: $theme-medium;
    border: none;
    height: 2px;
    margin: 0px auto;
    width: 4rem;
  }

  &__list {
    list-style: none;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;

    li:before {
      content: "\00BB \0020";
      padding-right: 5px;
    }
  }

  &__headline {
    font-weight: 500;
  }
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "reactype-desc reactype-img"
    "speed-typer-desc speed-typer-img"
    "chrome-stretch-desc chrome-stretch-img";
  row-gap: 25px;
  column-gap: 25px;
  border-radius: 5px;
  @extend %section-area;

  &__description {
    padding: 0px 20px 20px 20px;
    border: 1px solid black;
    border-radius: 5px;

    &--reactype {
      grid-area: reactype-desc;
      justify-self: center;
      align-self: center;
    }

    &--chrome-stretch {
      grid-area: chrome-stretch-desc;
      justify-self: center;
      align-self: center;
    }

    &--speed-typer {
      grid-area: speed-typer-desc;
      justify-self: center;
      align-self: center;
    }
  }

  &__images {
    &--reactype {
      grid-area: reactype-img;
      justify-self: center;
      align-self: center;
      width: 400px;
      height: auto;
      -webkit-box-shadow: 5px 5px 0px 0px $theme-medium,
        10px 10px 0px 0px $theme-shadow, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 5px 5px 0px 0px $theme-medium, 10px 10px 0px 0px $theme-shadow,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    }

    &--speed-typer {
      grid-area: speed-typer-img;
      justify-self: center;
      align-self: center;
      width: 400px;
      height: auto;
      -webkit-box-shadow: 5px 5px 0px 0px $theme-medium,
        10px 10px 0px 0px $theme-shadow, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 5px 5px 0px 0px $theme-medium, 10px 10px 0px 0px $theme-shadow,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    }

    &--chrome-stretch {
      grid-area: chrome-stretch-img;
      justify-self: center;
      align-self: center;
      width: 200px;
      height: auto;
      -webkit-box-shadow: 5px 5px 0px 0px $theme-medium,
        10px 10px 0px 0px $theme-shadow, 5px 5px 15px 5px rgba(0, 0, 0, 0);
      box-shadow: 5px 5px 0px 0px $theme-medium, 10px 10px 0px 0px $theme-shadow,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
    }
  }

  &__separator {
    color: black;
  }

  &__button {
    cursor: pointer;
  }

  &__tools {
    font-weight: 500;
    color: $theme-medium;
    margin-top: -15px;
  }
}

@media screen and (max-width: 1050px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "reactype-img"
      "reactype-desc"
      "speed-typer-img"
      "speed-typer-desc"
      "chrome-stretch-img"
      "chrome-stretch-desc";

    &__images {
      &--reactype,
      &--speed-typer {
        width: 200px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    position: relative;
    background-color: white;

    &__menu {
      background-color: black;
      padding: 0;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      z-index: -1;
      top: 20vh;
      max-width: 100vw;
      width: 60vw;
      height: 60vh;
      opacity: 0;
      transform: translateX(250%);
      overflow-x: hidden;
      border-radius: 5px;
    }

    &__menu.active {
      transition: all 0.5s ease-in-out;
      z-index: 1;
      opacity: 1;
      transform: translateX(0);
    }

    &__menu.closed {
      transition: all 0.5s ease-in-out;
      z-index: 1;
      opacity: 1;
      transform: translateX(200%);
    }

    &__menu a {
      font-size: 2rem;
      text-align: center;
    }

    &__link {
      color: white;
    }

    &__toggle {
      position: fixed;
      right: 5%;

      &:hover {
        cursor: pointer;
      }
    }

    &__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background: black;
      display: block;
      transition: all 0.3s ease-in-out;
    }

    &__toggle--is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__toggle--is-active .bar:nth-child(2) {
      opacity: 0;
    }

    &__toggle--is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}

header {
  height: 5vh;
  background-color: blue;
}

.box {
  height: 10px;
  width: 10px;
  background-color: green;
  margin: 0px auto;
}

@media screen and (max-width: 900px) {
  .skills {
    font-size: 12px;
    &__container {
      flex-direction: row;
      align-items: center;
    }

    &__description {
      padding: 7px;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;

    &__portrait {
      order: -1;
      margin-right: 40px;
    }

    &__name,
    &__job,
    &__hr,
    &__social {
      text-align: center;
      margin: 0 auto;
    }

    &__hr {
      margin-top: 10px;
    }

    &__social {
      width: 100px;
      margin-left: 60px;
    }
  }

  .home {
    &__portrait {
      &-image {
        height: 180px;
        width: 180px;
      }
    }
  }
}

// iPhone 5 + Galaxy Fold
@media screen and (max-width: 414px) {
  p {
    font-size: 12px;
  }

  .navbar {
    &__link {
      font-size: 1rem !important;
    }
  }

  .home {
    &__name {
      font-size: 20px;
    }
    li {
      font-size: 13px;
    }
    &__social {
      margin-top: 20px;
      margin-right: 75px;
    }
  }

  .about {
    &__panel {
      margin-top: -50px;
    }

    &__dots {
      width: 100px;
    }

    &__info {
      padding: 0.5em;
    }

    &__resume {
      margin-bottom: 5px;
    }
  }

  .projects {
    &__description {
      padding: 0.5em;
    }
  }

  .skills {
    &__container {
      flex-direction: column;
      align-items: center;
    }
  }

  .about,
  .skills,
  .projects {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1500px) {
  .home {
    width: 800px;
  }

  .about,
  .skills,
  .projects {
    width: 1100px;
  }
}
