body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  // position: relative;
  background-color: pink;
  height: 10vh;
  width: 100vw;
}

.navbar {
  background: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;

  &__menu {
    display: flex;
    margin: 0 auto; // overrides the center positioning for toggle
    justify-content: space-between;
    list-style: none;
    width: 70vw;
    max-width: 450px;
    border: 1px solid yellow;
    height: 20px;
  }

  &__item {
    font-size: 16px;
    position: relative;
  }

  &__link {
    text-decoration: none;
    color: rgb(180, 71, 89);
    text-transform: uppercase;
  }

  &__link::after {
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    background-color: white;
    position: absolute;
  }

  &__link:hover::after {
    width: 100%;
    transition: all ease-in-out 400ms;
  }
}

@media screen and (max-width: 960px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    align-content: center;
    background-color: blue;
    margin: 0;
    // height: 500px;
    height: 90vh;
    width: 100vw;
    margin-left: 100vw;
    &.active {
      opacity: 1;
      margin-left: 0;
      transition: all 1s ease-in-out;
    }
  }

  .navbar {
    &__menu {
      opacity: 0;
      display: flex;
      flex-direction: column;
      // position: absolute;
      transition: all 0.3s ease;
      // justify-content: center;
      // align-content: center;
      justify-content: space-evenly;
      align-items: center;
      // height: 100vh;
      // NEED TO ADJUST
      // width: unset;
      // max-width: unset;
      height: 50vh;
      width: 250px;
      // margin: 0px auto;
      // width: 100px;
      // max-width: 100px;

      // z-index: -1;
      // opacity: 1;
      // top: -1000px;
    }

    &__menu.active {
      // background: pink;
      // position: relative;
      // top: 0px;
      // bottom: 0px;
      // opacity: 1;
      // transition: all 0.5s ease;
      // z-index: 99;
      // height: 90vh;
      // max-width: 100vw;
      // font-size: 20rem;
      opacity: 1;
    }

    &__menu a {
      border: 1px solid white;
      font-size: 2rem;
    }

    &__toggle {
      position: absolute;
      right: 5%;
    }

    &__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background: #fff;
      display: block;
      transition: all 0.3s ease-in-out;
    }

    &__toggle--is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

    &__toggle--is-active .bar:nth-child(2) {
      opacity: 0;
    }

    &__toggle--is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
}
